<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Solaris</title>

    <!-- Utilitarios-->
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/phaser@3.21.0/dist/phaser.min.js"></script>
    
    <!-- Configs Players-->
    <script type="text/javascript" src="js/configs/players.js"></script>

     <!-- Configs Enimes Movs-->
     <script type="text/javascript" src="js/configs/enimes.js"></script>

    <!-- Configs Enimes-->
    <script type="text/javascript" src="js/solaris/configs/enimes.js"></script>

    <!-- Game Scenes and Configs-->
    <script type="text/javascript" src="js/solaris/preload.js"></script>
    <script type="text/javascript" src="js/solaris/game.js"></script>
    <script type="text/javascript" src="js/configs/config.js"></script>

</head>
<body>
        <center><div id='phaser-game'></div></center>
</body>
</html>