

<!-- Header start -->
<header id="header" class="header-one">
			<div class="container">
				<div class="row">
					<div class="logo-area clearfix">
						<div class="logo col-xs-12 col-md-3">
							<a href="index.html">
								<img src="images/logo.png" alt="">
							</a>
						</div><!-- logo end -->

						<div class="col-xs-12 col-md-9 header-right">
							<ul class="top-info-box">
								<li>
									<div class="info-box">
										<div class="info-box-content">
											<p class="info-box-title">Fale conosco</p>
											<p class="info-box-subtitle">(+19) 99140-3479</p>
										</div>
									</div>
								</li>
								<li>
									<div class="info-box">
										<div class="info-box-content">
											<p class="info-box-title">Email </p>
											<p class="info-box-subtitle">cesarsst@hotmail.com</p>
										</div>
									</div>
								</li>
								<li class="header-get-a-quote">						
											<a class="btn btn-primary " data-toggle="modal" href="/enterGame">Jogar</a>
											
									
								</li>
							</ul><!-- Ul end -->
						</div><!-- header right end -->

						<div class="col-xs-12 col-md-9 header-right">
							<ul class="top-info-box mt-5">
									
							</ul><!-- Ul end -->
						</div>

					</div><!-- logo area end -->

				</div><!-- Row end -->
			</div><!-- Container end -->

			<nav class="site-navigation navigation navdown">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<div class="site-nav-inner pull-left">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>

								<div class="collapse navbar-collapse navbar-responsive-collapse">
									<ul class="nav navbar-nav">
										
										<li><a href="/" class="not-active">Home</a></li>

										<li><a href="contact.html" class="not-active">Sobre</a></li>

										<li><a href="contact.html" class="not-active">Loja</a></li>

										<li><a href="/cadastro" >Cadastro</a></li>

										<li class="dropdown">
											<a href="#" class="dropdown-toggle not-active" data-toggle="dropdown" ">Links Úteis<i
													class="fa fa-angle-down"></i></a>
											<ul class="dropdown-menu" role="menu">
												<li><a href="https://www.facebook.com/SDC-Medical-1213553775377818/" class="not-active">Facebook</a></li>
											</ul>
										</li>

										<li><a href="contact.html" class="not-active">Novidades</a></li>

										<li><a href="contact.html" class="not-active">Contato</a></li>

									</ul>
									<!--/ Nav ul end -->
								</div>
								<!--/ Collapse end -->

							</div><!-- Site Navbar inner end -->

						</div>
						<!--/ Col end -->
					</div>
					<!--/ Row end -->

					<div class="nav-search">
						<span id="search"><i class="fa fa-search"></i></span>
					</div><!-- Search end -->

					<div class="search-block" style="display: none;">
						<input type="text" class="form-control" placeholder="Type what you want and enter">
						<span class="search-close">&times;</span>
					</div><!-- Site search end -->
				</div>
				<!--/ Container end -->

			</nav>
			<!--/ Navigation end -->
</header>
<!--/ Header end -->


<!-- MODAL LOGIN AREA-->
		<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">

			<div class="modal-header">
				<h3 class="modal-title" id="exampleModalLabel">Login</h3>
				
			</div>

			<div class="modal-body">
					<!-- Formulario de login-->
					<form action="/login" method="POST">  
							<div class="form-group">
								<label for="exampleInputEmail1">Endereço de email</label>
								<input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu email">
								<small id="emailHelp" class="form-text text-muted">Nunca compartilhe seu email com outra pessoa</small>
							</div>
							<div class="form-group">
								<label for="exampleInputPassword1">Senha</label>
								<input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Digite sua senha">
							</div>
							
					<!-- End fomrulario login-->

					<div class="modal-footer">
							<center><button type="submit" class="btn btn-primary">Entrar</button></center>
							<button type="button" class="btn btn-secondary alert-danger" data-dismiss="modal">Sair</button>
					</div>

					</form>
			</div>
		</div>
	</div>
</div>
