<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lobby</title>

    <!-- JS ASSETS -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/phaser@3.21.0/dist/phaser.min.js"></script>
    <script type="text/javascript" src="js/lobbyScene/preload.js"></script>
    <script type="text/javascript" src="js/lobbyScene/game.js"></script>
    <script type="text/javascript" src="js/configs/config.js"></script>
</head>
<body>
    <center>
        <div id='phaser-game' class="container-fluid"></div>
    </center>
</body>
</html>